<!DOCTYPE html>
<html lang="" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error: URL Incorrect</title>
</head>

<body>
    <div>
        <h2 class="title" style="color: rgb(194, 127, 127);">URL is incorrect!</h2>
        <footer class="info">
            <a href="/">Go Back</a>
        </footer>
    </div>
</body>
</html>